article {
    width: 90%;
    height: 260px;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 5%;
    background-color: white;
    box-shadow: 5px 5px 5px grey;
}

li {
    width: 92%;
    height: 75px;
    border-radius: 15px;
    margin-bottom: 5%;
    margin-left: 3%;
    background-color: white;
    box-shadow: 5px 5px 5px grey;
    transform: translateY(3rem);
    transition-duration: 3s;
    animation: slide-up 0.75s ease-in-out forwards;
    &:hover{
        transition: 0.4s;
    }

    &:nth-child(2) {                        /*ideas only for now*/
        animation-delay: 0.4s;
    }                   
    &:nth-child(3) {
        animation-delay: 0.8s;
    }
    &:nth-child(4) {
        animation-delay: 1.2s;
    }
}

.sectionRestaurants {
    background-color: #f2f2f2;
    padding-bottom: 13%;
    margin-top: 20%;
}

.sectionMenu {
    background-color: #f2f2f2;
    border-radius: 45px 45px 0 0;
    margin-top: -20%;
    position: relative;
    padding-bottom: 10%;
}

.logo {
    width: 48%;
    height: fit-content;
    margin-left: 12%;
    margin-top: 4%;
}

.logoIndex {
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-bottom: 2%;
}

.fa-mobile-screen {
    width: 6%;
    height: auto;
    border-radius: initial;
    padding-right: 1%;
    &:hover {
        color: $colour-primary;   /*doesn't work yet*/
    }
}

img {
    width: 338px;
    height: 180px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

figure {
    padding-left: 0;
    margin-inline-start: 0;
}

figcaption {
    display: flex;
    flex-direction: column;
    font-size: large;
    padding-left: 10px;
    &span {                          /*doesn't work*/
        display: flex;
        flex-direction: row;
        justify-content: right;
        position: absolute;
    }
}

footer {
    background-color: rgb(56, 56, 56);
    color: white;
    padding-left: 5%;
    padding-bottom: 8%;
    line-height: 20pt;
}

.fa-location-dot {
    margin-right: 5%;
}

.fa-utensils {
    padding-right: 14px;
}

.fa-handshake-angle {
    padding-right: 7px;
}

.fa-list-ul, .fa-store, .fa-mobile-screen {
    margin-right: 7%;
    margin-left: 4%;
    &:hover{
        $colour-primary: #9356DC;
        color: $colour-primary;
    }
}

.fa-circle-check {         /*A revoir entre faCircleCheck et circleCheck, dans all.scss pour le Display*/
    color: white;
    font-size: 30pt;
    &:active {
        transition-property: transform;
        animation-duration: 2s;
        transform: rotate(180deg);
    }
}

li:active {             /*A revoir*/
    position: relative;
    &.h3 {
        overflow-x: hidden;
    }
    &.circle-check {                    /*A voir: mettre circleCheck dans une mixin*/
    background-color: #99E2D0;;
    border: 2px solid black;
    border-radius: 0 10px 10px 0;
    margin-left: 75%;
    padding: 15px 20px 15px 20px;
}
}

.price {
    transition-property: transform;
}

.heartIndex {
    position: absolute;
    padding-left: 270px;
    padding-top: 5%;
    line-height: 18pt;
    font-size: xx-large;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px black;
    color: white;
    transition-property: transform;
    &:active {
        transform: animation;
        background-clip: text;
        -webkit-background-clip: text;   /*test*/
        font-weight: bold;
        animation-name: heart;
        animation-duration: 4s;
    }
}

@keyframes heart {    /*tests à poursuivre*/
    0% {
        color: rgba(255, 121, 218, 1);
        transition: opacity 2s ease-out;
}
    50% {
        color: green;
        transition: opacity 2s ease-out;
}
    100% {
        color: rgba(147,86,220,1);
    }
}

.titleRestaurant {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.heartMenu {
    font-size: 22pt;
    padding-top: 10%;
}

.small-text {
    display: block;
    font-family: "RobotoThin", sans-serif;
}

.nouveau {
    font-family: "RobotoThin", sans-serif;
    font-weight: lighter;
    font-size: small;
    border-radius: 3px;
    background-color: $colour-accent;
    color: green;
    position: absolute;
    margin-left: 69%;
    margin-top: 4%;
    padding: 5px 10px 5px 10px;
    object-fit: cover;
}

.logoFooter {
    width: 30%;
    height: auto;
    padding-bottom: 5%;
    padding-top: 7%;
    filter: invert(1);
}

.imageRestaurant {
    border-radius: 0%;
    width: 112%;
    height: 273px;
    object-fit: cover;
    position: relative;
}