.fas {
    padding-right: 7px;
    &:hover{
        $colour-primary: #9356DC;
        color: $colour-primary;
    }
}

.fa-map-marker-alt {
    margin-right: 5%;
}

.fa-utensils {
    padding-right: 7px;
    margin-right: 1%;
}

.fa-list-ul, .fa-store, .mobile-screen-solid {
    margin-right: 6%;
    margin-left: 4%;
}

.heart {
    position: absolute;
    padding-left: 270px;
    padding-top: 10px;
    line-height: 18pt;
    font-size: xx-large;
    &:hover {                       /*A revoir, c'est juste un début*/
        animation-duration: 4s;
        background: rgb(147,86,220);
        background: linear-gradient(180deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    }
}

.small-text {
    display: block;
    font-family: "RobotoThin", sans-serif;
}

.nouveau {
    font-family: "RobotoThin", sans-serif;
    font-weight: lighter;
    font-size: small;
    border-radius: 3px;
    background-color: $colour-accent;
    color: green;
    position: absolute;
    margin-left: 69%;
    margin-top: 4%;
    padding: 5px 10px 5px 10px;
    object-fit: cover;
}

.logoFooter {
    width: 30%;
    height: auto;
    padding-bottom: 5%;
    padding-top: 7%;
    filter: invert(1);
}

.imageRestaurant {
    border-radius: 0%;
    width: 113%;
    height: auto;
    object-fit: cover;
    position: relative;
}