.fas {
    padding-right: 7px;   
}

.fa-ustensils {
    padding-right: 7px;
}

.fas:hover {
    color: rgb(104, 18, 104);
}

.far:hover {
    background-color: violet;
}

.far {
    display: flex;
    align-items: right;   /*doesn't work yet*/
    font-size: x-large;
}

.nouveau {
    border-radius: 4px;
    background-color: $colour-accent;
    color: green;
    position: absolute;
    margin-left: 65%;
    margin-right: 10%;
    margin-top: 4%;
    padding: 5px 10px 5px 10px;
    object-fit: cover;
    font-family: "RobotoThin";      /*Doesn't work yet*/
}

.logoFooter {
    width: 30%;
    height: auto;
    padding-bottom: 5%;
    padding-top: 7%;
    filter: invert(1);
}

.imageRestaurant {
    border-radius: 0%;
    width: 113%;
    height: auto;
    object-fit: cover;
    position: relative;
}