.choix, .composition, .degustation {
    border-radius: 15px;
    background-color: #f2f2f2;
    margin-bottom: 5%;
    padding: 23px 30px 23px 25px;
    width: 75%;
    margin-left: 15px;
    box-shadow: 5px 5px 5px grey;
    font-size: 12pt;
    font-family: "RobotoRegular", sans-serif;
    &.choix:hover , .composition:hover , .degustation:hover {
    background-color :rgba(240, 224, 255, 1);
    }
}

.arrow-left {
    width: 5%;
    margin-left: 7%;
    margin-bottom: 3%;
}

.degustation {
    margin-bottom: 20%;
}

