nav {
    padding-left: 8px;
    font-weight: bold;
}

.reservezMenu {
    font-family: "robotoRegular", sans-serif;
    padding-top: 13%;
    margin-bottom: 5%;
    font-size: 20pt;
    color:black;
}

.decouvrezRestaurants {
    font-size: 15pt;
    font-family: "robotoRegular";
    color: grey;
}

.reservations {
    padding-left: 8px;
    background-color: #f2f2f2;
    text-align: center;
    padding-bottom: 12%;
}

.degustation {
    margin-bottom: 20%;
}

.Fonctionnement {
    margin-bottom: 10%;
}
