nav {
    padding-left: 8px;
    font-weight: bold;
}

.reservezMenu {
    font-family: "robotoRegular", sans-serif;
    font-weight: bold;
    padding-top: 12%;
    margin-bottom: 5%;
    margin-left: 8%;
    margin-right: 15%;
    font-size: 19pt;
    color:black;
}

.decouvrezRestaurants {
    font-size: 14pt;    
    font-family: "RobotoThin", sans-serif;
    font-weight: lighter;
    color: grey;
}

.reservations {
    padding-left: 8px;
    background-color: #f2f2f2;
    text-align: center;
    padding-bottom: 12%;
}

.degustation {
    margin-bottom: 20%;
}

.Fonctionnement {
    margin-bottom: 10%;
}
