@font-face {
    font-family: 'RobotoRegular';
    src: url(../../police/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'RobotoThin';
    src: url(../../police/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Shrikhand';
    src: url(../..//police/Shrikhand-Regular.ttf);
}

.titreRestaurant {
    font-family: 'Shrikhand';
    font-weight: bold;
    font-size: 27px;
    margin-left: 4%;
    margin-top: 10%;
}

h1 {
    font-family: 'RobotoRegular', sans-serif;
    padding-top: 10%;
    padding-left: 5%;
    font-style: bold;
    color: black;
}

h2 {
    font-family: 'RobotoThin', sans-serif;
    font-weight: lighter;
    margin-bottom: 5px;
    font-size: larger;
    padding-left: 4%;
    padding-top: 6%;
    color: grey;
    background-image: linear-gradient($colour-accent 0 0);
    background-position: 5% 100%; /*Adjust the background-position to move the line*/
    background-size: 13% 3px; /*Adjust the background size to control length and height*/
    background-repeat: no-repeat;
    padding-bottom: 6px; /* this can also control the position */
}

h3 {
    font-family: 'Roboto-Regular', sans-serif;
    color: black;
    margin-bottom: 2pt;
}

p {                         /*revoir small-text, anciennement appelé <p>*/
    color: grey;
    line-height: 0pt;
    font-family: 'RobotoThin', sans-serif;
    font-weight: lighter;
}

.main-text {
    font-family: 'RobotoRegular', sans-serif;
}

.small-text {
    line-height: 25pt;
    color: grey;
    font-family: 'RobotoThin', sans-serif;
    font-weight: lighter;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

ul {
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    & span {
        display: flex;
        justify-content: right;
        font-weight: bold;
        margin-right: 5%;
        color: black;
   }
}

li {
    list-style-type: none;
    line-height: 13pt;
    padding-left: 3%;
}

.textePalette {
    display: flex;
}

textarea {
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}

div {
    font-family: 'RobotoRegular';
    font-size: large;
}

.chiffre1, .chiffre2, .chiffre3 {
    font-family: 'RobotoThin', sans-serif;
    font-weight: lighter;
    width: 4%;
    line-height: 165%;
    position: absolute;
    font-size: smaller;
    margin-left: -35px;
    margin-bottom: 10px;
    padding-left: 7px;
    border-radius: 100%;
    color: white;
    $colour-primary: #9356DC;
    background-color: $colour-primary;
}

.proposerUnRestaurant, .devenirPartenaire, .mentions, .contact {
    font-family: 'RobotoRegular', sans-serif;
    line-height: 22pt;
    font-size: unset;
}